

@font-face {
  font-family: 'Press Start 2P';
  src: url('/Fonts/2P/ttf/press-start-2p-latin-400-normal.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('/Fonts/Anton/ttf/anton-latin-400-normal.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@tailwind components;
@tailwind utilities;




